[2018-04-16 03:40] noopkat opened #1 "Accessibility Audit"
1. Explore focus management
2. ✅ Keyboard access for drag and drop needs to be implemented
3. Create html landmarks for page
4. ✅ Run Axe Core on the front-end
5. fix any issues

[2018-04-16 03:40] noopkat opened #2 "Mobile Responsiveness"
Current mobile support is not great.
Please check out the contributing guide in this repo for some ideas 💡

[2018-04-16 03:42] noopkat opened #3 "Card + Setting form validation"
Currently there is no validation on either the dashboard settings or the card settings forms.

[2018-04-16 03:44] noopkat opened #4 "Keyboard control alternative for card positioning"
Drag and drop is not accessible without a mouse or pointer device.

I suggest creating a 'move' button that only appears when a card is tabbed to (like 'skip to content' style buttons on websites). Activating this button will allow arrows on the keyboard to be used for moving the card left and right. Hitting the escape key will stop the moving.

[2018-04-16 03:46] noopkat opened #5 "Tests"
+ [x] Set up test framework
+ [x] Write tests
+ [x] Create `npm test` command

[2018-04-16 03:52] noopkat opened #6 "Background image tile feature"
Similar to specifying a background color for the dashboard, it'd also be great to specify a url that points to an image to tile as the background of the dashboard.

We could call the new dashboard property `bgImageUrl`

+ [ ] add background image option to settings form (a text input would be fine)
+ [ ] add background image property to dashboard.json (leave as empty string)
+ [ ] ensure property

[2018-04-16 03:58] noopkat opened #7 "Status for form submissions"
I'd like to see a text status appear on both the dashboard settings form and the card settings forms.

+ [ ] Dashboard settings - show both a success or an error.
+ [ ] Card settings - show an error below the save button if there's a save error, 'flip' the card as normal if save was successful

A good example to take lead from is the button card. When you click the button, it shows the status of t

[2018-04-16 04:05] noopkat opened #8 "Support nested payload properties"
When messages come in from devices, only top level properties will work.

For example, watching the `humidity` property within a card will work for this data:

[code]

But watching `humidity` in the data below is not possible:

[code]

Perhaps we can support nested properties! Or indexes in arrays also (maybe!)

[2018-04-16 04:08] noopkat opened #9 "Color picker support for color related form fields"
There are a few card settings and dashboard settings that ask for a specific color. Typing it in is okay, but having the option of a color picker in addition would be awesome!

A svelte (small, smol) color picker library would be preferred if possible. Huge bonus points if you can use it with a keyboard and not just a mouse. Placing the color picker activator button to the right of the color text

[2018-04-16 04:10] noopkat opened #10 "Simplify card settings form component"

[2018-04-16 04:14] noopkat opened #11 "Support hiding of settings pane"

[2018-04-16 04:32] noopkat opened #12 "Support changing app title"
The app title says '⚡️electric io' right now but who really cares if it doesn't stay that way.
It would be cool to let people change it to say whatever they want!

+ [ ] create a new property called `title` in the dashboard.json settings
+ [ ] set the default value of the property in the json file to be `⚡️electric io` (check lib/helpers.js)
+ [ ] create a new text input field in the dashboard set

[2018-04-16 04:35] noopkat opened #13 "Document how to migrate dashboard settings from one app to another"
This should go in the README.md file.

Essentially to migrate your dashboard layout settings what you do is copy your dashboard.json file from one electric-io app to another, placing it in the `.data` directory.

[2018-04-16 04:35] noopkat opened #14 "Support multiple dashboards"

[2018-04-16 04:44] noopkat opened #15 "Link to device method docs in readme"
The button card section in the readme mentions device methods casually but it should also link to an appropriate Azure docs location that explains what device methods are with regard to using them with Azure IoT Hub.

[This is probably the right docs page](https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-devguide-direct-methods) to link to but if there's a better one you can find let me know

[2018-04-16 04:48] noopkat opened #16 "Support for sending payloads with device method calls"

[2018-04-16 04:52] noopkat opened #17 "New card ideas"
Comment below if you have any idea for new types of cards to have 💡

[2018-04-16 23:27] MichaelE1 opened #19 "Duplicate card IDs"
Hi @noopkat ,

First of all, awesome project. I really dig it.

I've found a small bug related to creating new cards. If you create two cards of the same type, they are assigned the same ID. In console you will see a [Vue warn].

![vuewarn](https://user-images.githubusercontent.com/21051488/38840116-5d909f02-4221-11e8-84d6-5e12907fb4fb.png)

As they have the same ID, if you delete one card it will

[2018-04-17 01:01] noopkat commented on #19
thanks for reporting this! I wonder why it's creating the same id 🤔
I'll let you know if I find anything 🙇‍♀️

[2018-04-17 01:14] noopkat commented on #19
ok I'm pretty sure I found the issue. It came down to a classic JavaScript issue with references to existing objects and not actually creating a copy of it first 😄
Let me know if the pull request makes sense - #20

In the meantime, is there anything I could do to help make this project easier to grok for those who are new to Vue? I welcome your thoughts.

[2018-04-17 01:19] noopkat opened #21 "Replace card delete confirmation alert with a modal"
The modal should be:

1. [Accessible](https://www.youtube.com/watch?v=JS68faEUduk)
2. Styled to fit in with the rest of the look and feel of the dashboard

[2018-04-17 01:31] noopkat opened #22 "Simulation UI status callout"
It would be nice to have a small status near top of the dashboard UI making it clear that you're simulating data when in simulating mode. I want to leave the Glitch app in simulation mode instead of hosting telemetry from a real IoT Hub, but make it clear that it's not 'real' data coming in.

When folks remix the app it won't start up in simulator mode so there's no worry about it persisting.

[2018-04-17 01:55] Stosswalkinator commented on #21
I'll take on this issue.

[2018-04-17 02:00] MichaelE1 commented on #19
Yes, that PR has solved it :tada:

I've found the project on the whole quite approachable. Even with my minimal Vue experience I was still able to narrow down where the issue was, I just wasn't entirely sure on the solution during the time I spent on it.

At the end of the day you have to require some prerequisite knowledge, and I don't feel that the coding style or file structure of the project i

[2018-04-17 02:23] noopkat opened #23 "Demo mode"
Like a halfway state between `locked` and `unlocked` edit modes.

So you can create, delete, edit and drag cards + edit dashboard settings, but the changes won't be saved in the persisted store. When you refresh the page or if anyone else accesses the page at the same time, they'll see the original dashboard.

This would involve a new mode type for the `EDIT_MODE` variable in `.env` and an additio

[2018-04-17 19:44] escherina commented on #6
I can take this one!

Regarding the last point, what do you think about offering the user a "Repeat background" checkbox underneath a new Background Image URL field in the Settings? Maybe checked by default, as this seems like a more common use case. Alternatively, every background image could be tiled by default, but I like the idea of giving the user the option.

[2018-04-17 19:47] noopkat commented on #6
Great! 🤩😎 thank you

I love the idea about the checkbox to have tiling be optional, please go for it!

[2018-04-18 00:27] #6 closed

[2018-04-18 00:34] noopkat commented on #19
@MichaelE1 that's really great to hear! Thanks for the feedback 😄

Shout out if you have any further questions. I'll close this issue now as it's confirmed fixed.

[2018-04-18 00:34] #19 closed

[2018-04-18 01:03] noopkat commented on #23
closed by  e9735edff0

[2018-04-18 01:03] #23 closed

[2018-04-18 20:34] escherina commented on #22
I can take this one on. 😊

[2018-04-21 00:28] #22 closed

[2018-04-22 16:42] mtheoryx opened #27 "Color audit for ally"
Related to #1

Colors and color contrast is an important issue for visually-impaired or visually-sensitive issues.

This ticket is for remediation of some of the colors, specifically the green/red success/error messages to comply with color/contrast best practices.

This can be tested in chrome with an accessibility audit, or via a few other npm dependencies.

[2018-04-22 16:44] dotproto commented on #27
@noopkat noted during her stream that she's targeting contrast level AA. See https://www.w3.org/TR/UNDERSTANDING-WCAG20/visual-audio-contrast-contrast.html for additional details.

[2018-04-23 02:58] noopkat commented on #7
currently working on this one ✋

[2018-04-24 09:16] escherina commented on #11
I can take this one! @noopkat - what would be your preferred way to hide the panel? I was thinking to collapse it, like an accordion. Since it's pinned to the right hand side of the screen by default, it could collapse into a horizontal bar, a vertical bar - or something smaller.

I put together a few options [in Figma here](https://www.figma.com/file/NBSU5KlAwKxDgp0CPbw9aLdJ/Electric-IO-settings-

[2018-04-24 15:07] mpaarating commented on #15
I'll snag this one!

[2018-04-24 18:01] noopkat commented on #27
Thank you David and Simeon! 🙇🏼‍♀️

[2018-04-24 21:12] mpaarating commented on #12
I can grab this one!

[2018-04-25 20:43] mpaarating opened #30 "Detect emoji in title and add styling accordingly"
The [PR](https://github.com/noopkat/electric-io/pull/29) to add support for app title changes removed the styling for the default emoji. Support should be added to detect emoji in the title and appropriately add the styling to them.

[2018-04-25 20:44] mpaarating commented on #30
I'll snag this since I reported it.

[2018-04-26 14:45] #15 closed

[2018-04-28 04:28] mpaarating commented on #17
I've basically finished a markdown/text card!

[2018-04-29 15:38] noopkat commented on #11
Hi @escherina!

Thank you so much for the Figma mockups! Super helpful. Let's go with Option 3 (the gear!) 💯

[2018-04-29 15:43] underscoredotspace commented on #5
Hey @noopkat o/

I'd totally be up for setting up the framework and CI, and maybe writing tests if I have time. Do you have an opinion on frameworks? I tend to use Jest, which has really pushed me into TDD for my personal projects, but I see you use Tape.

- colinfoldsfive

[2018-04-29 16:49] mpaarating commented on #5
@underscoredotspace I'd love to see a Jest setup!

[2018-04-29 17:02] noopkat commented on #5
@underscoredotspace heck yes! echoing @mpaarating - I'd love a Jest setup!

[2018-04-29 17:28] brandon-tabaczynski commented on #12
As per the ask, I looked into the regex thing, but I believe a more simple solution could be the ability to change the title with a Javascript action in the/a Settings page (if this is a desired action), it could most likely find homage near color options, font, etc. If such a result is desired for the individual user, I could || can code the functionality.

[2018-04-29 19:38] underscoredotspace commented on #5
OMG, so much positivity for tests!

I've submitted a pull request now, but it defo needs some amendments; if I could have some feedback I'll sort it out.

[2018-04-29 21:59] escherina commented on #5
Just wanted to add that [vue-test-utils](https://github.com/vuejs/vue-test-utils) might be a good fit for testing the Vue components. Here's [an example of using it with Jest](https://github.com/vuejs/vue-test-utils-jest-example), since @underscoredotspace did such a good job getting Jest set up. And here are the [full docs](https://vue-test-utils.vuejs.org/).

[2018-04-30 20:08] mpaarating commented on #12
Hey @brandon-tabaczynski, I think I might have been super unclear about the help I was looking for. If you look at this (PR)[https://github.com/noopkat/electric-io/pull/31], we can change the title in a similar manner to the rest of the dashboard settings. The (constants)[https://github.com/mpaarating/electric-io/blob/d515c333f8b67dca313e582be6a62788c3a07736/public/js/utils/constants.js] file has

[2018-05-01 03:32] mpaarating commented on #10
I'm working on this.

[2018-05-01 08:58] underscoredotspace commented on #5
@escherina, I've just tried Jest Snapshots for the first time, and if the components here render in a consistent way, you may not need to add additional utils.

In my [Webtris](//github.com/underscoredotspace/webtris-js) project, I've got an object with a `render` method that returns the component markup, and all the test needs is `.toMatchSnapshot()`

[code]

It creates a snapshot file the first

[2018-05-02 15:37] escherina commented on #5
@underscoredotspace That sounds ideal - I must admit I haven't tried vue-test-utils myself, so if it's overkill for this project, let's keep it simple.

[2018-05-20 17:25] mtheoryx opened #36 "Thoughts on a Code of Conduct doc?"
Github has a pretty decent template that you can use, and it only requires a contact email for where complaints can be directed.

Personally, I prefer having these, but I know there are other opinions. Just want to get the community's thoughts on this addition.

[2018-05-23 02:01] mpaarating commented on #36
I'd love to see one. I've definitely found them helpful in the past.

[2018-05-25 16:31] atbuzz commented on #36
Sounds like a great idea!

[2018-05-26 00:45] noopkat commented on #36
Hi folks! This is a great idea @mtheoryx. What do y'all think of using the same [code of conduct on avrgirl-arduino](https://github.com/noopkat/avrgirl-arduino/blob/master/CODE_OF_CONDUCT.md) for this project?

[2018-05-26 02:13] mpaarating commented on #36
That looks good to me! @escherina How does that look to you?

[2018-05-26 06:44] atbuzz commented on #36
Sounds excellent, @noopkat!

By the way, I love your streams so much!

[2018-05-26 06:45] atbuzz commented on #14
Great idea @noopkat.

[2018-05-26 12:03] atbuzz commented on #36
I'll pull request a code of conduct.

[2018-05-26 12:04] atbuzz commented on #36
Here: #38

[2018-05-26 12:05] atbuzz commented on #36
It uses the code of conduct from avrgirl-arduino.

[2018-05-26 16:09] escherina commented on #36
Closed with #2323d67 🎉

[2018-05-26 16:09] #36 closed

[2018-05-27 12:37] escherina commented on #5
I've merged in #34 - thanks for the great work on that, @underscoredotspace! We're all set up for testing now. Next step: writing tests!

[2018-05-27 15:32] mtheoryx commented on #5
How do we want to handle issues and testing? I feel like having one issue to add all coverage is much too big to tackle.

Also, there are a few different focus areas that could use testing. UI, logic, simulation server, etc.

Curious to hear your thoughts, all!

[2018-05-27 18:10] mtheoryx opened #40 "Clarify supported NodeJS version"
From the readme, it is unclear what version of Node is required for the project.

I propose:

1. Add the supported version to the readme
2. Add the version in package.json under "engines" and "enginesStrict"
3. Using the correct base image for Docker.

I'm working on task 3 now... I really just need a definitive decision from the maintainers on where our base node version will start.

I'm happy to

[2018-05-27 18:35] escherina commented on #40
Great idea! In the [contributing guide](https://github.com/noopkat/electric-io/blob/master/CONTRIBUTING.md), it says that NodeJS 4+ is required. However, the app will ultimately run on Glitch, which, [looking at their FAQ](https://glitch.com/faq#node), only goes down to version 6.0.0 (https://nodeversions.glitch.me/) - so maybe we could set 6.0.0 as the minimum version? What do you think, @noopkat

[2018-05-27 20:02] mtheoryx commented on #40
Interestingly, in the package.json, we currently have

[code]

So I'm not sure if 4 was the target, or where the 8 came form.

I think, like browsers, "current + (N - 1)" could work. So active LTS is 8.x "carbon" and Maintenance LTS is 6.x "Boron" https://github.com/nodejs/Release#release-schedule

What do you think? Current, plus one version behind or maintenance?

[2018-05-27 20:06] mtheoryx opened #41 "To check in dist files, or to not check in dist files?"
As I'm working, I'm noticing that public/js/dist/application.js keeps having minor changes. I mean minor, it's single-letter variable names when the generation and minification is done.

So... what do you all think?

I generally do not check generated files into a repo, but this isn't my repo. It's OUR repo :)

When it comes time to make "a build" the artifacts can be made and zipped. And we can m

[2018-05-27 20:33] escherina opened #43 "Add .editorconfig file to project"
Having a [.editorconfig file](http://editorconfig.org/) might be helpful for contributors whose IDEs can auto-format on save (like mine! 😄).

.editorconfig supports the following settings:
- `indent_style`: `tab` or `space`
- `indent_size`: e.g. `2` or `4` spaces
- `end_of_line`: `lf`, `cr`, or `crlf`
- `charset`: set to `latin1`, `utf-8`, `utf-8-bom`, `utf-16be` or `utf-16le` to control the chara

[2018-05-28 17:37] mtheoryx opened #44 "Support Docker for isolation, portability, and quick setup"
Opening this (and working on it) for the following reasons:

1. Isolation - no need to pollute your global with different versions of "stuff"
2. Portability - reduce "works on my machine" weirdness across environments
3. Quick setup - Minimize install requirements to quickly spin up an example

[2018-05-28 17:38] mtheoryx commented on #44
I've made some great progress on this, should have a PR ready before next week's stream :)

[2018-05-28 17:41] mtheoryx commented on #3
For validation, where would you like to see that happen at?

Here are some options, after digging around a bit:

1. In the UI, at the component level (nice for error visibility, but tightly couples the UI to logic)
2. In the action before server submission (still in the UI, but separated a bit more, makes testing a little easier)
3. In the server layer, at the express level?
4. In the server layer

[2018-05-28 17:55] mtheoryx commented on #43
Interesting idea. I have mixed feelings about some of these things (more below, and would love to hear your thoughts), but whatever the project thinks is the best way forward, I can get behind :)

- A standard has to be decided upon, and usually, that's a team thing
- Linters are good, but can be annoying (we have a callout that we aren't using a linter here)
- Auto-formatters can be equally annoy

[2018-05-29 13:08] escherina commented on #43
Thank you for the thoughts, @mtheoryx! I agree with you that linting and anything that invasively changes code would be out of place for this project.

However, a .editorconfig file is more static than a linting setup, more of an convenience for contributors: if your IDE doesn't have an auto-format on save setting, or doesn't recognise .editorconfig files by default, the .editorconfig file won't d

[2018-05-30 03:43] mpaarating commented on #43
I'm a fan of this idea as I keep formatting EVERYTHING when using VS Code and making PRs look gigantic (then spend my time to fix them in vim). Those settings are 💯 to me!

Agreed with @mtheoryx that for @noopkat or someone that happens to be streaming this, it might be a bit invasive when the changes occur, although I think its not a huge issue as I've paid for content that has had that happen du

[2018-05-30 03:45] mpaarating commented on #41
I agree with your sentiment and actually have two different PRs with it in there. I think that @noopkat gave it the ok in one of my PRs. I like the idea of publish a package and that seems elegant enough when the time comes.

[2018-05-30 16:09] mtheoryx commented on #41
Fantastic, look forward to seeing those ignores get merged in. I'll close this one then. Cheers!

[2018-05-30 16:09] #41 closed

[2018-05-30 20:23] mpaarating opened #45 "Add progressive support for existing dashboards"
Currently, anytime a new data field is added to the `template.js` file, there will be an error as the field can't be found. It would be nice to parse the `dashboard.json` file and add the missing data field with `key: null`. This would help to prevent those errors for anyone going forward.

[2018-06-02 22:32] davidk commented on #13
Hello there,
Will give this a go!

[2018-06-03 00:17] noopkat commented on #36
thanks everyone!

[2018-06-03 00:27] #12 closed

[2018-06-03 00:27] #30 closed

[2018-06-03 00:33] noopkat commented on #3
hi @mpaarating 👋

I like option 2! Thoughts?

[2018-06-03 00:39] noopkat commented on #43
oh my gosh I had no idea what a pain this has been for y'all not having the standards from no linting!
I am more than happy to discuss a minimal set of rules.

Whitespace, indent size and indent type would at the minimum be helpful I think. I'm going to suggest we look into a good tool for auto-fixing any lint errors with a pre-commit hook, then folks don't even have to care about it if they don't

[2018-06-03 00:40] noopkat commented on #44
big ups on this, very excited! 🎉

[2018-06-03 01:58] mpaarating commented on #43
@noopkat I like the pre-commit hook idea and the minimum for the .editorconfig!

[2018-06-03 14:17] mtheoryx commented on #40
I included the node version updates and clarification in my PR. I needed to specify a known good node version for the base Docker image anyway :) I'll close this issue!

[2018-06-03 14:17] #40 closed

[2018-06-03 14:43] mtheoryx commented on #43
I do have another idea...

I'm reminded of this technique since I've been doing some docker environment variable (.env) work on a few other projects. Here's what I do:

- Add a .env file with some settings. Could be "minimum defaults" or could be blank API key stuff used more as an "example" for others to discover settings/configs they can use.
- Commit that "example" file
- Update .gitignore. Thi

[2018-06-03 15:58] mtheoryx opened #48 "NPM Script to make production build of app"

[2018-06-03 16:07] #10 closed

[2018-06-03 16:25] mtheoryx opened #49 "Dashboard preferences investigation"
It would be nice to store a preference for having the dashboard settings open or closed.

Issues to keep in mind:

+ GDPR consideration
+ Local storage vs Session storage vs Cookie
+ Directly saving prefs in the server-based .json

Please comment your thoughts, and lets' find a way to possibly get these UX niceties implemented in another issue/pr.

Cheers!

[2018-06-03 16:36] mtheoryx opened #50 "Clarify expectations around "fixing merge conflicts" in contributing"
There are times where, after seeing a very good contribution, there are some really confusing merge conflicts.

This can be very frustrating for maintainers. Maintainers may really love and appreciate your contribution... but not understand how to resolve a variety of merge conflicts you and/or others introduced.

So, it's fair to expect that contributors may be asked to resolve conflicts in their

[2018-06-03 16:48] noopkat commented on #50
hint for anyone who wants to take this issue: look in the [`CONTRIBUTING.md`](https://github.com/noopkat/electric-io/blob/master/CONTRIBUTING.md) file to include this information.

😄

[2018-06-03 16:53] mtheoryx opened #51 "Add reference to Node Green to explain supported node versions"
https://github.com/noopkat/electric-io/issues/40

[2018-06-03 16:59] eloytoro commented on #48
@mtheoryx this one looks like just adding the script to package.json

[2018-06-03 19:20] mtheoryx opened #52 "Create production version with docker"
- NPM script for production build, ala #48
- Dockerfile and docker compose versions for production
- NPM package production pushes, instructions, and settings (need an npm official account/contributor to do this)

[2018-06-03 19:20] mtheoryx commented on #52
I'm more than happy to help with this!

[2018-06-04 16:50] mtheoryx opened #53 "Create Windows-specific documentation for copying over dashboard settings"
Great first issue!

PR #46 was reviewed live on the stream June 3rd (many thanks to @davidk for the contribution!)

It would be a super nice option to also document how windows folks can do this, specifically the `cp` commands.

Excellent opportunity to contribute AND be inclusive (for our Windows friends)

[2018-06-04 18:56] davidk commented on #13
Issue #53 (Windows specific) is now up for grabs, so this is a friendly wave to close this one :star2:

[2018-06-04 19:00] noopkat commented on #13
@davidk 🙌

[2018-06-04 19:00] #13 closed

[2018-06-09 16:13] mtheoryx commented on #52
I should also add that we probably need an account for @noopkat or other maintainers/automation to push final, versioned Docker images to a public registry like Docker Hub.

I envision a versioned image where users can (and the following may or may not be 100% a working example yet):

`docker run electric-io:1.0.0 -p 3000:3000 -d`

And then they can hit `localhost:3000` to get the default dashboar

[2018-06-09 17:35] mtheoryx opened #54 "Environment option for debug/firehose?"
Suz turned off the firehose in simulation mode, but also mentioned a debug mode possibility?

We can really easily support that with env vars.

Thoughts?

[maintainers: a good label would just be "question" or something]. Cheers!

[2018-06-09 19:30] mpaarating commented on #54
I think that makes sense. It'd be nice to move the simulating mode into that as well as part of the debug mode.

[2018-06-10 09:15] #11 closed

[2018-06-10 14:07] noopkat commented on #43
@mtheoryx I like this approach a lot!

[2018-06-10 14:12] noopkat commented on #54
I think this is a good idea! I might work on this during the stream today. Technically the simulating env var is already supported via the .env file. If that's not documented somewhere I'll also fix that too 😄

[2018-06-10 14:21] mtheoryx commented on #54
Sounds awesome! I'll make for certain that any updates you make to the .env are picked up in the docker PR and supported out of the box.

[2018-06-10 16:14] #44 closed

[2018-06-10 16:18] noopkat opened #55 "Publish first Docker image to Docker Hub"
I need to fix my docker account fumbles, then I'll push and give the collaborators access if possible.

[2018-06-10 16:19] mtheoryx commented on #55
Related to issue #52

[2018-06-11 11:31] strangecyan opened #58 "Support for video streams"
I’d love to have support for video streams within a card from a home automation system or a raspberry pi camera. I’m unsure what kind of config you’d need under the hood, whether a url to point the browser to would be enough or if we need more information about the configuration of the camera?

[2018-06-11 13:47] underscoredotspace commented on #5
I've tried to work out how to test the Vue components, but I'm not getting there. @noopkat in `CONTRIBUTING` you say shout if you're stuck, and I kinda (totally) am. Do you have any links to documentation that shows tests of the components in the style use here?

[2018-06-11 18:59] mpaarating commented on #5
@underscoredotspace Not sure if you've seen this already or not, but [here](https://github.com/vuejs/vue-test-utils-jest-example) is the official example for Jest tests with vue! I haven't had time to test it yet myself, but the examples look straightforward enough.

[2018-06-11 19:54] mtheoryx commented on #58
That's a really good idea! I have no idea how to implement that.

I'd also say maybe we'd still want some "sample video" for use in the demo dashboard or simulating mode.

Anyone know much more about video stream options? @mpaarating @noopkat

[2018-06-11 20:11] underscoredotspace commented on #5
@mpaarating yeah, I did check that out and it hasn't helped. I've tried this on a [branch](https://github.com/underscoredotspace/electric-io/tree/vue-test-utils) on my own repo for this if you fancy having a look.

I think my problem is something simple I'm missing rather a requirement for vue-test-utils, but I may be wrong.

[2018-06-11 21:20] mpaarating commented on #58
@noopkat correct me if I'm wrong, but I don't believe that IoT hub itself provides video streaming services. (Not really sure any of the IoT centers do) We _could_ add a HTML5 video card with a spot to paste in an http stream.

[2018-06-11 21:30] mtheoryx commented on #5
@underscoredotspace I'm set up with your branch (and not a Vue guy, so bear with me).

https://vue-test-utils.vuejs.org/guides/#testing-single-file-components-with-jest

It looks like you're missing a few things from that guide up there ^^

Here are a few points I see differing:

- vue-jest
- Transform with vue-jest
- Babel transform for jest (I think that was there, but maybe you removed it?)

We

[2018-06-11 22:14] mtheoryx commented on #5
^^ I've played around with ideas, and I'm just as lost as you are, @underscoredotspace ! Reached out to some Vue folks, but rest assured, you are not alone in being baffled at the moment :)

[2018-06-12 08:52] underscoredotspace commented on #5
I've tried a different approach of cloning the jest example repo and copying the number component from here and I'm getting the same error.

It seems to be the way Vue is being loaded - in electric-io it's being loaded by the script tag, so we'd need to import it somewhere. Adding `import Vue from 'vue'` into `number.js` clears the error and allows the simple test to pass, but this isn't the solut

[2018-06-12 10:31] escherina commented on #5
I can take a look this evening - I've now used vue-test-utils in two projects, so I have a bit of experience with it. (Unfortunately the projects aren't public code or I'd share them here.)

@underscoredotspace, I see what you mean about the issue with the way Vue is imported into the project. I'm hopeful that there's a way to use vue-test-utils without changing the original project code (I've fou

[2018-06-12 13:05] mpaarating opened #59 "More heavily leverage Webpack for a more standard Vue setup"
E-io has been a fantastically simple project for some time now, but I think we might be entering a point when using `.vue` files, transpilation, and a more traditional webapp setup (bring Vue in via `package.json`) would help developer efforts.

The testing issue is certainly an issue that seems to be tied to the way that Vue is imported in the project (I'm sure that there are ways around this and

[2018-06-12 15:27] mtheoryx commented on #59
I certainly see the issue with testing because of how we're loading in Vue. I think you may be onto something here @mpaarating

I'm certainly not a Vue expert, but it's worth asking: Can we get away with fixing the testing issue without a wholesale change to making this an idiomatic "Vue app"?

And if so... what other issues down the road are we still going to be dealing with? Is going "Vue app" a

[2018-06-12 21:31] escherina commented on #5
And just to add: @underscoredotspace - you were so close with your solution, it was just that Jest needed a specific setup file for adding window.Vue. Seeing what you tried gave me a good idea what to try next!

![bitmoji](https://render.bitstrips.com/v2/cpanel/9ff55377-6e8f-4a55-9baf-471d1ee75e6a-fe2b87c9-121a-46aa-8177-02221b1823cc-v1.png?transparent=1&palette=1&width=246)

[2018-06-12 22:01] underscoredotspace commented on #5
Wow, good work @escherina. I was really scratching my head!

[2018-06-13 09:02] underscoredotspace commented on #59
The problem we had with testing the Vue components has been resolved, thanks to @escherina finding the missing piece, so I feel like this is _less_ of a barrier.

This said, it would be easier for Vue newbies like myself to contribute more if the components were more idiomatic and matched what is shown in the documentation.

[2018-06-13 09:17] underscoredotspace commented on #5
I've adapted the above ever-so-slightly and added to my PR (#57). `babel-jest` will transform `.js` files by default and seems to only be needed if we needed to add the `.vue` transform.

[2018-06-13 11:50] mtheoryx commented on #59
Fantastic @escherina and @underscoredotspace !

[2018-06-17 16:35] mtheoryx opened #60 "Document usage and options of the dotenv file"
Related to PR #56 comments.

[2018-06-17 16:42] #54 closed

[2018-06-20 19:35] Jatrott commented on #60
I'll take this one if no one has objections?

[2018-06-21 07:12] escherina commented on #60
Please do, @Jatrott! 😊

[2018-06-22 21:21] mtheoryx commented on #60
Go for it @Jatrott !

Feel free to reach out for any questions/help you need, we're here for you!

![bitmoji](https://render.bitstrips.com/v2/cpanel/e0c28536-e37d-43ff-8a21-2573e0487440-c3b45c6e-2943-4fd5-ab6e-fe23bffcb90b-v1.png?transparent=1&palette=1&width=246)

[2018-06-23 16:16] mtheoryx commented on #9
I found this one that is okay-ish regarding a11y (I don't think it handles enter/esc to get out of it).

But aside from the input, triggering the picker, entering hex, and exiting, what other sorts of a11y interactions were you imagining in this case? This could help me in narrowing down my search and creating criteria.

Thanks!

https://codepen.io/Brownsugar/pen/NaGPKy?editors=1010

[2018-06-23 18:18] mtheoryx commented on #59
@mpaarating What do you think the first steps are? I think you're way more familiar with Vue than I am. Our mutual contact, Jeff, isn't listed in the Forks so I don't think he attempted a "conversion".

[2018-06-24 14:59] mpaarating commented on #59
So I've not had a ton of time to look at it yet, but my thinking is to convert the vue component files to `.vue` files and then transpile/concat/minify. As its a day off, I'm hoping to get a good pass at this today.

[2018-06-24 15:47] noopkat commented on #59
Yep! This is what we need to do. It's not very glamorous work, but would improve the codebase a lot 😄 especially for potentially new contributors who are used to the more idiomatic vue way.

[2018-06-24 15:59] noopkat commented on #58
I LOVE THIS IDEA!!

Ok, so we could support a couple of video stream types here:

1. Video element
2. Image element for jpeg based streams

the sticker card would probably already support the jpg streams, so the video element would be all that's necessary.

@mpaarating ^^ Yep! 😄

[2018-06-24 16:06] mtheoryx commented on #9
Notes from the June 24 live show, some enhancements (can possibly be a different PR):

Make the sliders focusable (left-right buttons, make it an "official slider")
Make the inputs and rgb/hex focusable
Make the rgba inputs focusable

[2018-06-24 16:14] noopkat commented on #9
Thanks @mtheoryx this is great and the things we need ti keep in mind, although these will need to be changed made upstream to the [vue component's github repo](https://github.com/xiaokaike/vue-color).

Also as @svinkle also remarked: be sure to associate the input's label element correctly with the color picker input. On Electric-io we already do this, mostly via nesting the input within the labe

[2018-06-24 16:21] mtheoryx commented on #9
Just for reference: Upstream does have a still-open issue:

https://github.com/xiaokaike/vue-color/issues/127

[2018-06-25 04:06] mpaarating commented on #59
Made really good progress with this today. I got most of the app converted to `.vue` files, but ran into an issue late in the evening. I'm sure sleep will solve the issues.

[2018-06-25 16:49] noopkat commented on #59
that's great. I watched part of your last stream and was grinning from ear to ear 😄
this issue's work is a bit of a chore so I really appreciate all of the hard work 💯

[2018-06-25 23:50] mtheoryx commented on #59
Also, hooray for a new streamer @mpaarating right, @noopkat ?! So awesome! You're inspiring a whole community!

[2018-06-26 00:01] mtheoryx opened #62 "Run npm audit and fix issues"
Not self-promoting, but I made a docker container that can run the npm audit check on anything regardless of node version (provided it has a lock file, which I understand has been introduced in about npm/node version 6).

https://hub.docker.com/r/mtheoryx/npm-audit/

It's straightforward, but I suck at docs, so PR me on that repo.

I think we should do a package scan (I already have) of the repo a

[2018-06-26 19:41] noopkat commented on #58
I researched this a little today and HTML5 video elements still don't support live streaming video very well. An additional JavaScript library will be needed to get this working.

MJPEG streams will currently work by using a sticker card.

[2018-06-26 19:49] noopkat commented on #55
Am I doing this right 🤔
https://hub.docker.com/r/noopkat/electric-io/

How do we 'productionize' it? I'm guessing we need to start versioning and cutting releases of electric-io etc.

[2018-06-26 19:50] #55 closed

[2018-06-26 19:51] noopkat commented on #52
I just closed #55 so let's continue the discussion here. I just tagged the first image as `latest` for now while we address @mtheoryx's suggestions in this issue.

[2018-06-26 21:02] mtheoryx commented on #55
That can work!

We very much need to have a prod build and versioning. Can be another "spike" issue, if needed.

Glad you got this flow working though!

[2018-06-26 21:03] mtheoryx commented on #52
`latest` is the devil! (IMHO)

[2018-06-28 22:02] mtheoryx commented on #59
@mpaarating Your stream was great, this is going to be a very good thing!

[2018-07-29 21:20] underscoredotspace commented on #43
The only default that seems to be at odds with the existing code is single quotes.

[2018-08-05 16:02] mtheoryx commented on #43
I think we can close this out, #66 does this. Cheers!

[2018-08-05 16:02] #43 closed

[2018-08-06 22:10] mtheoryx opened #68 "Handle old dashboard configuration more gracefully"
We've run into this issue a few times on stream, and I'm sure some of you also have run into it locally.

Currently, all the state is stored but sometimes can drift when new features come rolling in. It's quite frustrating that we don't have an upgrade path or at least a way to let the user know there is a conflict.

I'm opening this just to get a dialogue started and get some thoughts out there!

[2018-08-09 11:44] underscoredotspace commented on #59
The only other thing outstanding on this is documentation 📚. We refer to the previous style in CONTRIBUTING. Issue #50 also requires an update to this file.

I'll assigned myself to both of these issues for now, but please speak up here if you would like to suggest content before I make a PR.

[2018-08-09 11:48] underscoredotspace commented on #50
What are people's preferred workflow for avoiding merge conflicts? I don't feel like there is enough going on in any one file (generally) that they should be unavoidable.

My normal process, just before PR, is:
[code]

I've not done this often, so I'm happy to be corrected if there is a better method or a clearer way to express this.

[2018-08-09 13:55] mpaarating commented on #59
Good catch! Feel free to update the documentation. Thanks!

[2018-08-11 18:25] mtheoryx commented on #50
That's my general workflow, yep!

So here's another protip for avoiding merge conflicts (well, not protip, just me making mistakes over a longish career)...

If at all possible, use trailing commas, and put as many things as possible on their own lines. Like when you're listing out attributes in HTML or JSX for a tag.

[2018-09-02 17:12] mtheoryx opened #70 "Support MQTT Services"
http://mqtt.org/

I know very little about this protocol, but this is a feature we could consider adding!

[2018-09-13 18:35] mpaarating commented on #50
Closed by #71

[2018-09-13 18:35] #50 closed

[2018-09-13 18:36] mpaarating commented on #59
Closed by #71 Thanks again @underscoredotspace!

[2018-09-13 18:36] #59 closed

[2018-09-17 19:44] mtheoryx opened #73 "Make "getting started process" more inclusive and friendly"
There are 2 things going on with this issue, and I want to get the opinions of users, contributors, maintainers.

## Assumptions

1. The code respository itself, and we as the community, are trying to be as inclusive as possible. We have a good code of conduct, positive reactions, lots of help, and frequently mention this repository on streams as a good way for a person to get into FOSS developmen

[2018-09-17 19:45] mtheoryx commented on #73
@mpaarating @escherina @noopkat What do you think?

[2018-09-17 19:55] mtheoryx opened #74 "Docker build broken and npm package mismatch potential"
**TLDR**: I already have a fix for this, but wanted to record this correctly as an issue. I'll take it asap.

## Docker node_modules are just a whole buncha messed up

This is my bad. What's happening currently is that on build-time, docker seems to be working fine. However, on run-time, where the volume mapping comes in, we end up with new-hotness from several PRs ago not being reflected. And thi

[2018-09-18 15:47] mtheoryx commented on #73
@mpaarating To your point,

Users can, of course, modify the .env file to their liking since it's currently gitignored, but that would be another step required to simply achiever the goal of spinning this up, and seeing some results quickly.

[2018-09-18 17:04] mtheoryx commented on #68
So I've been thinking some more about this, and wanted some feedback... Consider a tale of a few states

## I don't have a dashboard built

Great! We all start with no dashboard, currently, but a default is proposed in #73 so that may change.

## I have a default dashboard saved

Ah, I see you've been around here before. Here's where there may be dragons. We could compare object properties in the

[2018-09-18 20:15] mtheoryx opened #76 "Add tests to the express server! Yay!"
There are a few TODOs in the index.js of the express server file that are very valid!

[code]

However, you cannot refactor untested code. That's just moving stuff arround. So this issue is to put some tests around the routes at least. THEN we can start moving stuff around :)

[2018-09-18 20:25] mtheoryx opened #77 "Test suite failed to run, localstorage-related"
Currently, I'm getting the following failures with our existing Jest Testing:

[code]

I'm not 100% sure what is causing it, but it seems big enough to launch into its own issue. Help for sure wanted, ping me for reproduction steps if you aren't seeing this!

[2018-09-18 20:49] toolboc opened #78 "Error: vue-template-compiler must be installed as a peer dependency"
Running from source using `npm start` without dev dependencies installed or attempting to run the docker image (which lacks dev dependencies)  results in:
`vue-template-compiler must be installed as a peer dependency`

![image](https://user-images.githubusercontent.com/2018336/45715560-21018a80-bb5a-11e8-8a80-102dd66424bb.png)

Oddly enough, the app appears to operate fine when this error is throw

[2018-09-19 15:59] #74 closed

[2018-09-19 16:01] mtheoryx commented on #78
Thank you @toolboc for also taking a run at this! Looks like we both ended up at the correct solution in the end.

I'm going to go ahead and close this since we have it all fixed up now. Feel free to ping me if you have any questions!

[2018-09-19 16:01] #78 closed

[2018-09-23 13:58] mtheoryx commented on #77
Steps to reproduce, from the master branch:

`SIMULATING=true docker-compose up --build -d`

`docker container exec -it electric-io /bin/sh`

`npm run test`

**Console Output:**

[code]

**npm-debug.log contents:**

[code]

[2018-09-23 15:45] noopkat commented on #73
I am completely favour of all of this. Let's do it. My only requirements if someone sets this up:

1. Any "stickers" should come from a secure source (eg. https URL) and should preferably be public domain or cc non attribution
2. I forgot the other thing but I'll edit this comment if I remember it 😅

[2018-09-23 15:51] mtheoryx commented on #68
As discussed on stream, imagine this is like when you have a Rails app. You write a feature that introduces a schema change.

You then would want to have a schema migration process for existing users to run. Should they not run it, we should handle that by alerting them that there is a pending migration that needs to be run.

It's like noop:db:migrate :)

[2018-09-23 15:51] noopkat commented on #76
YES. Awesome, thanks for raising this issue.

[2018-09-23 15:59] mtheoryx commented on #77
As a first step, can someone else start from scratch, using my steps, and sanity check me? Then we can figure out if this is a real bug, or something wrong with my machine?

![image](https://user-images.githubusercontent.com/119065/45930038-12cfb780-bf28-11e8-888d-3040a83bb4f5.png)

[2018-09-23 16:26] mtheoryx commented on #77
Believe this is related to this issue:

https://github.com/jsdom/jsdom/issues/2304

JSDom issue with security. I can try my best to look into this, but I'm not 100% confident with our actual app.

[2018-09-23 16:28] noopkat commented on #77
I can repro this by following @mtheoryx's steps unfortunately

[2018-09-23 16:42] mstallmo commented on #77
Leaving this here in case we don't get to it on the live stream. To resolve the `SecurityError: localStorage is not available for opaque origins` error add `"testUrl": "http://some/url"` to the package.json under the Jest section. The `http://some/url` value can be substituted for anything as long as it's a valid URL format.

Link to jsdom issue that has more detail: https://github.com/jsdom/jsdom

[2018-09-24 01:41] MichaelE1 commented on #77
Thanks @mtheoryx for the detailed steps. I can reproduce it now too - before I wasn't using docker /facepalm

It's definitely an issue with Jest. As @mstallmo suggested I've added a test url to package.json. `http://localhost/` seemed like a good choice, and it works - but I'm happy to change it if you have another suggestion.

[2018-09-24 17:38] #77 closed

[2018-09-24 17:39] toolboc commented on #73
This is a great idea and would certainly make new users feel very welcome to electric-io upon seeing data flowing out of the box!

That said,  I am worried about an issue where a user deploys locally via docker, makes changes, and then realizes they want to change to live data, but discover that the dashboard data is not persisted if they spin up a new container.   Maybe we could add a named volum

[2018-09-24 17:46] mtheoryx commented on #73
Hmm, that's an interesting question.

So, as it stands now, we do use a volume in the default docker-compose, so it should be persisted if they go that route.

So, here are the current tradeoffs:

1. They do the simple thing and docker pull the container and just spin it up. If they make changes, they won't be saved that way.

2. They check out the repo and use docker compose. That does have a vol

[2018-10-15 14:17] mpaarating commented on #76
I'm gonna spend some time on this if its cool with everyone.

[2018-10-15 20:00] mtheoryx commented on #76
I started down that path and got distracted/busy with other competing interests. Let me know if you want help or want to pair up.

[2018-10-16 02:30] mpaarating commented on #76
@mtheoryx Will do! Thanks!

[2018-11-22 05:54] noopkat opened #86 "Update to use latest event hubs package"
We need to deprecate the azure-iothub-receiver package and migrate the code to support @azure/event-hubs client library.

[2018-11-25 18:00] mtheoryx opened #88 "Bump docker support to latest node"
We're starting to introduce some features (such as file.promise) that are not supported in the version of node that our docker image is based on.

Bump docker image node version, test, and PR

[2018-11-25 18:05] mtheoryx commented on #88
The important part is the very first line of the Dockerfile. This is a directive for what version of the base image to pull down. note, it's currently 6.x

To pull this off, follow the instructions on the readme to get a Docker-compose instance up and running. Then change that base image version to something in the latest range, currently 10.x

Spin it up and run the tests, and do a tiny bit of tr

[2018-12-05 00:47] #88 closed

[2018-12-12 05:03] mpaarating commented on #76
UPDATE: Believe it or not, I'm _still_ working on this. As in, I have read a bunch of blogs about route testing and am doing the route splitting and testing all in one! Yay ME!!!!!

Downside is that @mtheoryx has me doing billable work most of the time so its coming along much slower than I anticipated.

**Note:** @mtheoryx is not my boss, but he an able body to throw in front of my lazy bus. Chee

[2019-02-24 18:11] noopkat commented on #16
FYI I am currently working on this 🤚

[2019-03-10 23:46] benhalverson opened #100 "Contributing.md outdated"
Do you mind if I remove this note?
1. Target NodeJS 4+ - no async/await etc.
The package.json has a engine target of node >10

[2019-03-10 23:47] benhalverson opened #101 "run npm audit fix"
[code]

[2019-03-11 00:09] #101 closed

[2019-03-11 00:10] #100 closed

[2019-03-11 01:11] benhalverson opened #104 "simulatedHub.js TypeError: callback is not a function"
I found the simulatedDeviceList.js that shows the sample method names
for example
[code]
Steps to reproduce
1. change SIMULATING from false to true
2. npm start
3. browse to localhost:3000
4. click edit on the button card select AZ3166 and add method name humidity
5. press save and press the button
6. observe the server log

expected results
no 500 errors

[code]

[2019-03-11 01:50] noopkat commented on #104
thanks for reporting! This is fixed in #95 and waiting to go out once I've written a test 😄

[2019-03-17 17:44] #21 closed

[2019-03-17 21:04] #104 closed

[2019-03-27 06:27] noopkat opened #108 "Cache the last reported messages"
Writing the last reported message for each card to the dashboard json would be very helpful whenever the app is first visited. Particularly if the telemetry is not delivered very often.

[2019-05-12 14:29] escherina commented on #1
Although the issue mentions `axe-core`, I've used Microsoft's [Accessibility Insights](https://chrome.google.com/webstore/detail/accessibility-insights-fo/pbjjkligggfmakdaogkfomddhfmpjeni/) extension since it's built on top of the `axe-core` engine, and I think it's one of the best accessibility tools around right now.

I ran the extension's FastPass mode which includes automated checks, and a tab

[2019-05-12 14:31] escherina commented on #27
I've completed a colour audit as part of #1 - results are in that issue.

[2019-05-12 14:32] escherina commented on #1
Forgot to say, I would be happy to follow up and add these fixes! 😊

[2019-05-12 14:38] kleinfreund commented on #9
I’m working on this. 👋

[2019-05-12 14:50] escherina opened #110 "Cards cannot be dismissed"
I get the following error when trying to dismiss a card (by clicking the `X`):

[code]

Possibly related to this issue on `vue-a11y-dialog`: https://github.com/morkro/vue-a11y-dialog/issues/8

[2019-05-12 14:51] escherina commented on #110
Update: it does work on the Cool Button card in my dashboard (which is copied from the default dashboard) - but on no other card, so I think it's likely to be caused by the issue I linked above.

[2019-05-12 15:30] kleinfreund commented on #1
Some of the mentioned issues are rather low-hanging fruites. We could create separate issues and mark them as “good first issue” and point to these when people ask about how they could go about starting to contribute to open source. Maybe some people on stream today are interested, too.

[2019-05-12 16:01] #53 closed

[2019-05-12 16:54] escherina commented on #110
Note: this seems to be fixed by updating `vue-a11y-dialog` as in @kleinfreund 's latest PR #111.

[2019-05-12 17:07] kleinfreund commented on #110
Ah, I wondered if that would *auto-magically* fix it. We got lucky. :)

[2019-05-12 17:08] noopkat commented on #1
@escherina this is incredible work, and as usual this issue was written up in an exemplary manner ✨ 🌈

I love @kleinfreund 's idea of breaking some of these up. The language attribute on the html tag is an especially good example of this.

This way, we can also take some burden off @escherina as they generously offered to do a bunch of these and they wouldn't feel obligated to complete all of them

[2019-05-12 17:53] noopkat commented on #110
thanks @escherina for reporting this 💯
thanks @kleinfreund for fixing this with your diligent dependency updating! 🥇

![bitmoji](https://render.bitstrips.com/v2/cpanel/86b2f3e6-fe1f-4607-b99c-e50f5d258b27-8016a622-e09b-4505-8856-7726a074b1f9-v1.png?transparent=1&palette=1&width=246)

[2019-05-12 17:53] #110 closed

[2019-05-12 18:01] noopkat opened #112 "add language attribute to html tag of index.html"
Related to the accessibility audit that @escherina ran via issue #1

The following [index.html](https://github.com/noopkat/electric-io/blob/master/public/index.html#L2) file is missing the `lang` language attribute. Adding it with the value of `en` (shorthand for English) will fix one of our accessibility audit failures.

If you'd like to take this on, comment on this issue, and go right ahead wit

[2019-05-12 18:09] FuzzyPersian commented on #112
@noopkat Would love to jump on this. I'm super brand new so just give me a bit but I'm excited to work on this. 😄

[2019-05-12 18:24] jam3sn commented on #4
Might be cool to also allow the use of SHIFT + Arrow to move by 10px or more like in most design programs.

[2019-05-12 18:33] kleinfreund commented on #112
Take all the time you want/need, @FuzzyPersian. No rush. :)

[2019-05-12 20:25] FuzzyPersian commented on #112
@kleinfreund @noopkat
Can I push my issue/112 branch up to this remote for you guys to review?
also not sure why I got this message message on commit, I only did 1 addition.  hopefully I didn't mess anything up.
 1 file changed, 1 insertion(+), 1 deletion(-)

[2019-05-12 20:39] kleinfreund commented on #112
The easiest way to review a pull request for a project maintainer is by submitting a pull request from a copy of the remote repository (usually called “fork”). In most cases, you won’t have the permission to push your changes directly to the project when contributing to open source software.

You most likely cloned this repository, right? If so, I’m going to ask you to also fork it (there is a for

[2019-05-12 21:11] FuzzyPersian commented on #112
You are awesome.

You should never apologize and you should ALWAYS assume that I don't know this stuff, I'm still in learning mode and your explanation was fantastic.  Love learning this stuff.

Thank you!

done and hopefully I did a decent job, other than my spelling mistakes in the commit comments.

[2019-05-12 21:36] noopkat commented on #112
This thread is so wholesome that it's actually a sad thing to close it now that the issue is solved via #114
Thanks everyone for being awesome 💖

[2019-05-12 21:36] #112 closed

[2019-05-12 21:45] noopkat commented on #4
@jam3sn this is a great idea thank you! 💡

[2019-05-12 21:51] nandub commented on #112
Can we made kleinfreund explanation a wiki page? Just so that new people that wants to contribute know how. My 2 cents.

[2019-05-12 21:53] noopkat commented on #112
@nandub this is a great idea! I think perhaps it would be most helpful to be placed in the Contributing Guide under the [Pull Request section](https://github.com/noopkat/electric-io/blob/master/CONTRIBUTING.md#pull-requests), what do you think?

[2019-05-12 22:04] nandub commented on #112
@noopkat yes, agree.  That’s a great place to put it.

[2019-05-15 19:19] jam3sn commented on #2
How do you feel about us dropping `absolute` so they all stack? We'd need to move the widths into classes so they can also become `width: 100%`, however, I'm not sure on the knock-on effect with the graphs until I have a deeper look.

[2019-05-15 19:34] kleinfreund commented on #2
@jam3sn Indeed, cards should stack on small screens. That’s pretty much the only way. As long as users have to access content by scrolling in two dimensions, it won’t be a nice experience.

[2019-05-18 17:44] noopkat commented on #1
One 🆒  idea that just came from a11y camp seattle today was to do with the tab ordering:

We could render each card in the dom order tied to the position of the card as saved in the dashboard configuration. So left and top cards would be higher in the dom order than a card in the bottom right corner of the dashboard.

[2019-05-19 17:57] #27 closed

[2019-05-22 03:01] noopkat commented on #2
totally agree and love the idea!

[2019-05-23 19:23] jam3sn commented on #2
So I've made a quick update for basic mobile support: https://github.com/noopkat/electric-io/pull/118

[2019-05-26 18:06] noopkat commented on #2
now closing this! 🎉 🎉 🎉 🎉

[2019-05-26 18:06] #2 closed

[2019-06-11 13:25] kleinfreund opened #121 "Define browser support"
We should define which browsers we want to support with electric-io. This can stay rather broad; for example, we could list the 4–5 most common browsers and state which of their versions we support. I don’t think we have any kind of analytics data for electric-io so we don’t know for sure which are the most common browsers for electric-io in particular.

**Why do we want this?**

It allows contrib

[2019-06-12 09:18] underscoredotspace commented on #121
There is already a browserslist inside `.babelrc`. However, we're pretty much ignoring it since it suggests we support Opera Mini, which (I'm not even going to look at caniuse) we certainly do not support.

IE11 is not working due to the bundle being built with arrow functions. This is the first error that occurs, my guess is that even if we were to build without es6 features there will be other i

[2019-06-12 09:30] kleinfreund commented on #121
I would prefer an even younger list of browsers; however, the deciding factor is ultimately going to be actual users of electric-io. Let’s see what the next Sunday brings. :)

[2019-06-16 14:17] escherina commented on #121
The `last 2 years` query seems reasonable to me, if @noopkat agrees!

If we decide not to support IE11 (still 2% usage globally) then I think it would be good to make sure we have a note in the project README about supported browsers, and also a message in the app to let users of older browsers know they won't be getting the full experience (or possibly any experience, if we stop transpiling/polyf

[2019-06-16 16:55] noopkat commented on #121
I agree with all of this. Let's go with last 2 years for now. Here is a checklist of things we need to do to close out this issue:

+ [ ] update transpilation rule to be last 2 years of browsers
+ [ ] update README to mention which browsers are not supported

[2019-06-16 17:56] noopkat commented on #1
FYI: fixed success text colour contrast via 46fa296cbb4607a77c00c8a43b85a40079b3f459

[2019-06-16 18:01] noopkat commented on #58
closing this as we have mjpeg support right now, but feel free to reopen if you want to see other video formats.

[2019-06-16 18:01] #58 closed

[2019-06-17 17:11] underscoredotspace commented on #121
PR #123 solves this issue 🎉

[2019-06-17 17:11] #121 closed

[2019-06-17 18:19] kleinfreund commented on #4
I’m working on this.

I have a basic prototype ready implementing keyboard navigation as per @noopkat’s suggestion of using a toggle button to toggle a keyboard navigation mode for a particular card. Alternatively, we could make cards focusable themselves and allow keyboard navigation when a card has focus.

Another point of consideration is the choice between one global event listener for `keydow

[2019-06-18 15:57] noopkat commented on #16
wait, we did this already! 🎉
closing.

[2019-06-18 15:57] #16 closed

[2019-06-18 16:00] noopkat commented on #5
I'm going to close this, as @underscoredotspace and @jeffnhorner have contributed enough for this to be satisfied. Moar tests are always welcome, but we good for this issue! Thanks to everyone else who also helped this happen ❤️

![bitmoji](https://render.bitstrips.com/v2/cpanel/c48b9d8f-75a2-4765-8997-20be2c0d3345-8016a622-e09b-4505-8856-7726a074b1f9-v1.png?transparent=1&palette=1&width=246)

[2019-06-18 16:00] #5 closed

[2019-06-18 16:34] kleinfreund opened #125 "Discuss: Should it be possible to position cards off-screen? If yes, how?"
In its current form, electric-io’s cards can be moved off-screen with the mouse. With #124 merged, that is true for keyboard, too.

Is this exptected behavior?

There are more or less three options:

- Allow cards to be moved off-screen (current behavior)
- Don’t allow cards to be moved off-screen
- Allow cards to be moved off-screen on the vertical axis only

I bring this up because one could mak

[2019-06-19 07:42] underscoredotspace commented on #125
My web-based [portfolio](https://messy.cloud) uses windows that are logically similar to our card concept. There I have chosen to not allow windows to leave the viewport. This does however increase the logic required in the move and size functions, and we'd need to handle viewport resizing/zooming.

In my app there is a minimum height and width for a window. When the viewport is resized the window

[2019-06-19 08:12] kleinfreund commented on #125
@underscoredotspace Your portfolio also provides a clue for why free positioning of cards should be possible: All OSes I know allow windows to be moved out of their viewport freely. Atleast, when using the mouse to drag windows around.

[2019-06-23 01:00] noopkat commented on #125
@underscoredotspace this is off topic but your portfolio site is very cool!

[2019-06-23 10:23] tkoster commented on #8
Hi Suz and friends,

Greetings from Melbourne Australia! Our time zones usually prevent me from catching the stream live but I love the code and chill vods :sparkles::coffee:.

Nested payload properties should be easy to support with the help of [JMESPath](http://jmespath.org/) and the [jmespath.js](https://github.com/jmespath/jmespath.js) library (0 dependencies, Apache-2.0). It's probably overki

[2019-06-23 16:51] noopkat commented on #4
we can now close this thanks to #124 🎉

[2019-06-23 16:51] #4 closed

[2019-06-23 17:22] noopkat opened #126 "new UI for dashboard saves"
What I would like to see is an error [toast](https://www.patternfly.org/pattern-library/communication/toast-notifications/) that:

+ [ ] shows an error if dashboard doesn't save correctly
+ [ ] has a long timeout for a11y reasons (or preferably have a way to dismiss it via user gesture)
+ [ ] is a live region / role of alert so that screenreader users can hear the error when it happens

[2019-06-23 17:37] noopkat commented on #126
more research needed, but [vue-toast-notification](https://github.com/ankurk91/vue-toast-notification) looks rather promising.

[2019-06-23 17:54] noopkat commented on #125
I like @mtheoryx's idea of "bouncing" the card back if dragged or keyboard moved off the top or left edges of the screen. I think right and bottom edges should just extend the dashboard itself. Thoughts?

[2019-06-23 21:23] mjasnowski commented on #125
I like the idea of bouncing cards back, but wonder what the user experience would be when accessing cards that are placed at far lower right of an extended canvas. Presumably you would scroll/pan to reach them but then when you drag a card back up to the top left would they bounce back again? Or would it pan the canvas until the top left of the canvas is reached (0,0) and then bounce back?

I unde

[2019-06-24 23:17] noopkat commented on #8
Hi @tkoster! Thanks for the kind words about the stream! I meant to look at this issue while streaming but in my absent mindedness I couldn't find it in Octobox. Sorry about that 🙇‍♀

I took at look at JMESPath and I love it for its simplicity, the fact that it has no dependencies, and that it has the exact kind of format to the query strings that I was hoping to support in electric-io. It would r

[2019-07-06 10:20] kleinfreund commented on #1
What exactly are we talking about when talking about HTML landmarks? I don’t know if we use any elements in a way that require additional landmark roles. One thing we could do is make the dashboard div the `main` element as it contains the main content: the dashboard.

[2019-07-06 15:01] underscoredotspace opened #130 "In card edit mode, changes lost when card is moved"
### Description

In edit mode, text fields revert to pre-edited state when card is dragged

### Steps to reproduce

- Select `edit` on a card
- Change a text field (Title, Message Payload or Button Text)
- Drag card to a new position

The other `select` elements are unaffected by this issue.

[2019-07-06 15:04] underscoredotspace commented on #130
Actually, changes to other text boxes are lost when **any** card is dragged. In settings unsaved changes to all text fields except colour are reverted.

[2019-07-06 15:21] underscoredotspace commented on #125
Since electric-io works on mobile browsers, should we add the ability to move cards with touch? Currently I think that's the only thing (apart from very minor layout things) that isn't at parity with non-touch browsers.

[2019-07-06 15:27] kleinfreund commented on #130
@underscoredotspace Could you do me the favor of trying to replicate this with the changes in made #127? I think I noticed this and fixed it there.

[2019-07-06 15:30] kleinfreund commented on #125
@underscoredotspace Yes, absolutely. In fact, I would consider this a bug right now. By properly separating functions for pointer-based movement and the registration of mouse-based and touch-based event listeners, this should be fairly easy to fix. I’ve done something similar recently and might be able to drop it into #127 if I get the chance until tomorrow. Also, thanks for pointing this out. I n

[2019-07-06 15:46] underscoredotspace commented on #130
@kleinfreund The issue seems to remain, but the card refuses to move in edit mode. Editing a text field and clicking away from it refocuses the textbox and reverts the field also. Again on the textbox fields are affected, and select/textareas are fine.

[2019-07-07 15:51] mtheoryx commented on #1
I suspected we may approach a certain point in this issue where we implement 80% of the list, and then start wondering about the validity of some of the other items. It feels like we may be at that point regarding landmarks.

While it was an amazing aggregation of a lot of a11y improvements, generously put together in a nice list with plenty of context, I would be open to moving the landmark topic

[2019-07-07 16:42] noopkat commented on #125
closing this as it was addressed in #127  🎉

![bitmoji](https://render.bitstrips.com/v2/cpanel/738f5341-51b2-4de7-b84a-daced4ed9e7e-8016a622-e09b-4505-8856-7726a074b1f9-v1.png?transparent=1&palette=1&width=246)

[2019-07-07 16:43] #125 closed

[2019-07-07 16:46] noopkat commented on #130
closing this as per @kleinfreund's advice 💪

[2019-07-07 16:46] #130 closed

[2019-07-07 17:23] noopkat commented on #8
closing this thanks to @tkoster ❤️

[2019-07-07 17:23] #8 closed

[2019-07-07 18:00] noopkat commented on #1
fixed the last of the fast pass failures with 688ee5b2c96c1ed6f4853cc0b092667c8facbd46

🙇‍♀

[2019-07-07 18:01] noopkat commented on #1
Agree with everyone about closing this issue in favour of opening new ones for each remaining a11y enhancement. Closing this now and pouring one out ❤️

[2019-07-07 18:01] #1 closed

[2019-07-07 18:04] noopkat opened #133 "Improve html landmarks for page"
Continuing the [landmark discussion](https://github.com/noopkat/electric-io/issues/1#issuecomment-508914904) from #1

Making the main app div a `<main>` element would help. Perhaps the settings can also be assigned a role that makes sense as well?

[2019-07-15 06:01] kleinfreund commented on #9
I’m no longer working on this. 🌊

[2019-07-15 06:01] #9 closed

[2019-07-16 09:03] N1Nxx opened #141 "Color picker preview <div> z-index"
The color picker preview div in the App settings and card settings is displayed above other cards (couldn't replicate on some cards)

![Screenshot 2019-07-16 at 19 01 20](https://user-images.githubusercontent.com/52948073/61281030-443daa80-a7fc-11e9-88b5-55f955780903.png)
![Screenshot 2019-07-16 at 19 01 31](https://user-images.githubusercontent.com/52948073/61281031-443daa80-a7fc-11e9-9e09-207084

[2019-07-20 22:45] noopkat opened #144 "Optimise vendor bundle size"
Hello,

I did some analysis on what's causing our vendor bundle size to be so large.
The low hanging fruit I found was Chart.js. I pointed at the minified bundle instead of the full dist and saved over 200KB 😱

The main difference is that the full dist includes moment.js and we don't use the dependent features in chart.js currently.

I think we can even go one better and look into using [Chartist]

[2019-07-21 11:27] jeffnhorner commented on #141
Hey @N1Nxx and noopcrew! I went ahead and created a pr for this fix but I'm wondering if there was a specific reason for this z-index to be set? I tagged @kleinfreund in the pr to take a look so we could have a conversation about it before this is (potentially) merged in 😊

Good find though for sure! ✋

[2019-07-21 11:30] kleinfreund commented on #141
I merged that PR just now. I think I had this `z-index` in there because there was another pseudo element in there that needed to be stacked somehow. Thank you for looking into this. :)

[2019-07-21 11:30] #141 closed

[2019-07-21 11:33] jeffnhorner commented on #141
Oh I see, well thanks for reviewing so quickly. Np man!

[2019-07-21 15:04] kleinfreund commented on #144
Adding the following rule to the `plugins` key in the Webpack configuration shaves off the locales from Moment.js:

[code]

Adding the following entry to the configuration removes all of Moment.js but also breaks the `LineChartCard`:

[code]

Comparison of our bundle size with Chart.js:

| Technique    | Bundle size    |
|--------------|----------------|
| Before       | main (732 KiB) |
| IgnoreP

[2019-07-21 19:07] escherina opened #147 "Axe tests are showing false positives"
We use `axe-core` in the component unit tests to test for accessibility related issues with the code. However, they seem to always pass, even when the component contains accessibility violations.

Example: in `CardForm.vue`, un-nest the `<input>` from the `<label>` element [on line 10](https://github.com/noopkat/electric-io/blob/master/public/js/components/CardForm.vue#L10) so they are no longer a

[2019-07-27 12:11] noopkat commented on #144
@kleinfreund I didn't ignore the bundle in the webpack config, rather I setup a new alias to resolve to the smaller chart.js bundle and that seemed to not break the linechart card's functionality. It was a shallow experiment to see how much moment.js was adding to the overall size.

Now that I have internet again, I just implemented the replacement of chart.js with chartist in a new branch and wil

[2019-07-28 11:15] #147 closed

[2019-07-28 12:58] #144 closed

[2019-07-30 11:20] noopkat opened #152 "updated app screenshot for README"
The screenshot of electric io in the README is looking noticeably out of date. I think it's time for a fresh one!

If anyone wants to get creative, feel free to submit a new one. Having an example of all card types on there would be rad, similar to the existing screenshot. Perhaps keep the background non busy just to showcase the cool cards themselves.

[2019-09-19 21:08] suz-stripe opened #155 "change messaging around .env file to also suggest renaming"

[2019-10-06 00:30] #152 closed

[2019-11-10 13:39] kleinfreund commented on #133
Certainly, we should use the `main` element to mark what our primary content is. In our case, I think that the collection of cards form our dashboard and the dashboard would be our primary (main) content.

As for the settings, I could see the `aside` element being appropriate, but I’m not entirely convinced. As far as I know, there isn’t a more appropriate way to identify a section of settings. Wi

[2020-02-02 18:43] lannonbr opened #165 "Managing Dependencies with Renovate"
So with #161 just merged, [Renovate](https://github.com/renovatebot/renovate) was added to this project. It will work alongside your package.json and update dependencies automatically and send PRs. This on top of Azure Pipelines will allow a nice system so when Renovate creates a new PR, the CI will run and then we can have some clarity that the dependency update is sucessful.

That said, with abo

[2020-02-03 00:00] MichaelE1 commented on #165
Great issue. I had a quick look in Azure Pipelines and it seems that Suz has already been API rate limited 😬. https://dev.azure.com/noopkat/electric-io/_build/results?buildId=212&view=results

I don't know much about Renovate, but it seems possible to [group all updates together](https://docs.renovatebot.com/presets-group/#groupall). That could help reduce the API calls and PRs (& notifications!).

[2020-02-06 04:47] benhalverson commented on #165
I like the idea of grouping the updates in renovate that's the one thing that annoys me in my repos

[2020-02-16 18:30] #165 closed

[2020-02-23 15:52] C0ffeeCode opened #193 "Crashing due to vue-template-compiler and vue having different versions"
# Problem
The application does not launch due to "vue-template-compiler" version (2.6.11), not matching "vue" version (2.6.10).

# Impact
Application crashes while starting.

# Solution
Upgrade "vue" version or downgrade "vue-template-compiler". (Upgrading is probably better)

[2020-02-23 15:57] C0ffeeCode commented on #193
#194

[2020-02-24 07:11] kleinfreund commented on #193
Closed in https://github.com/noopkat/electric-io/pull/194.

[2020-02-24 07:11] #193 closed

[2020-02-24 07:13] kleinfreund opened #195 "Unexpected unit test failures"
For some reason, the current unit test suite produces a lot of unexpected failures. I got a hunch that the upgrade to @vue/test-utils beta above 29 causes this (in https://github.com/noopkat/electric-io/commit/e28493efbf2e0b29c7875aeef12c2c91422a515d).

Reverting back to 29 makes most tests pass again.

One more passes after changing `public/js/components/specs/BaseCard.spec.js:96` like this:

[co

[2020-03-05 14:41] tkoster opened #196 "Discuss Azure Event Hub SDK 5.0"
Hi again Suz and the noopcrew! :wave:

I thought I would create this issue to discuss the breaking changes caused by the upgrade to `@azure/event-hubs@5` proposed by renovate in #192 , as I did some investigation into this that I'd like to share.

Feel free to elaborate and make corrections :sweat_smile:

## Background

The :zap: electric-io server uses two libraries to access the IoT Hub:

1. the

[2020-03-05 15:03] tkoster commented on #196
### Reimplementing the previous connection string behaviour in electric-io

I did some research into how the original `createFromIotHubConnectionString` function worked, with the aim to perhaps reimplement it in electric-io so that we can manage the deprecation on our own terms and allow users to continue with just the one IoT Hub connection string.

This turned out to be a very deep rabbit hole (

[2020-03-08 01:17] tkoster commented on #196
I looks like an alternative way to get the Event Hub-compatible endpoint is through Azure Resource Manager and [@azure/arm-iothub](https://www.npmjs.com/package/@azure/arm-iothub/v/3.0.0). This is probably how the Azure Portal is able to display this. However, this requires an Azure credential, e.g. an interactive Azure Active Directory login into Azure or a service principal. I'm not a fan of thi

[2020-03-13 12:40] tkoster commented on #196
Hi @noopkat  :coffee: :v:

I know I said this earlier:

...but your heartbreak at the inconvenience that #197 causes users motivated me to look closer at reproducing `EventHubClient.createFromIotHubConnectionString`.

It might not be as complicated as I thought, so an alternative PR to #197 is on its way :gift: . Have a lovely day :smile:

[2020-03-22 17:14] #195 closed

[2020-04-12 16:58] noopkat commented on #196
closing as @tkoster fixed this ✨ 🌸

[2020-04-12 16:58] #196 closed

[2020-04-12 17:39] #126 closed

[2020-04-12 19:41] blfuentes commented on #73
Here a quick feedback from a newcomer:

I followed the instructions of the **Native Installation** section(configure device in IoT Hub, clone repository, npm install, set the _CONNECTION_STRING_ env property and npm start)

Then I tried to place some cards and configure the parameters, but there was something confusing about it. The _Device Id_ dropdown had 3 values, none of them the name of my co

[2020-04-14 16:27] tkoster opened #207 "Value-dependent colour gradient"
How do folks feel about a colour gradient mode for the **number card**?

![colourgradient.gif](https://user-images.githubusercontent.com/9063335/79248576-58175980-7ebf-11ea-90be-9972c4eb8c19.gif)

I'm a bit stuck for ideas on how to fit it into the settings view though. Both horizontal and vertical layouts make the card much too big imo.

![colourgradientsettings.png](https://user-images.githubuse

[2020-04-14 16:40] kleinfreund commented on #207
We can think about hiding the color picker by default or at least one of them. The no-fuzz approach would be wrapping it in a details/summary element combo.

Also, Suz’s room is almost boiling if those are degree celsius. :hot_face: :hot_pepper:

[2020-04-14 17:23] tkoster commented on #207
It's not over by much :joy:
![image](https://user-images.githubusercontent.com/9063335/79254714-7b92d200-7ec8-11ea-9ee7-44c4f47b34d3.png)

[2020-04-16 10:38] tkoster commented on #207
Do you mean something like this?

![electricio-gradient-settings-2](https://user-images.githubusercontent.com/9063335/79446244-43eb6d80-8021-11ea-8040-4c30762baebb.gif)

- one colour picker is visible
- visually, the picker displays/sets whichever colour (low or high) that last had focus
- when tabbing, the fields are visited in this order: low value, low colour, high value, high colour

[2020-04-18 08:40] kleinfreund commented on #207
Do I understand the GIF correctly that the color picker is made visible based on which of the two value text input fields was focused last?

I think that’s not super clear to someone who doesn’t know. There should be a clear interaction that toggles between the two color pickers. If I’m satisfied with the current setting of the “high value” field, I might never click into it and realize that I can

[2020-04-18 09:43] tkoster commented on #207
You are correct. I'm trying to balance screen real estate with the desire to have low number of clicks/keyboard interactions to get to specific controls, and I agree that clarity if often the thing that is traded away when optimising for those.

I'll try your suggestion and some more options.

[2020-04-18 09:48] tkoster commented on #207
Oh and I'm trying to avoid the card from resizing too much while interacting with the form. I feel that's the most difficult constraint to satisfy.

[2020-04-18 10:36] kleinfreund commented on #207
While I see how that’s nice to have, I don’t think it’s a necessary constraint. The primary criteria, in my opinion, is ease of use including how well users are able to understand what they’re supposed to do and that they can do something in the first place.

[2020-04-18 17:04] tkoster commented on #207
@tkoster :

@kleinfreund :

Good to know.

In that case, here is a mock of my interpretation of your suggestion. I went with a fly-out card instead of an accordion. I thought I wouldn't like it but I do really like that the interactive elements on the form do not move around while the form is open.

![electricio-gradient-settings-3-popout](https://user-images.githubusercontent.com/9063335/79643661

[2020-04-19 16:51] noopkat commented on #207
omg yes I would love this feature! I also really appreciate how much prototyping work went into this 🥇 Thank you. I agree with the popout card proposal 💯

![boy dancing and saying "hell yeah"](https://media.giphy.com/media/dkGhBWE3SyzXW/giphy.gif)

[2020-04-19 17:36] #76 closed

[2020-04-25 12:02] tkoster opened #210 "Route tests fail when not simulating"
I encountered the 404 issue that @noopkat had on the weekend running the unit tests. I believe this is what is happening:

When running the routes unit tests, `server.js` attempts to connect to the real IoT Hub if your `.env` file says so. The tests even print the `console.log` lines during hub startup. However, the _live hub_ fails to start and throws exceptions. I can reliably reproduce and fix

[2020-04-25 12:03] tkoster commented on #210
More info:

The `startHubServer` function initialises the hub before registering any routes with express (presumably for the good reason that the handlers need to be injected with the appropriate hub service). If initialising the hub throws an exception, the routes are not initialised.

A quick fix might be to completely ignore `.env` and force simulation mode when `NODE_ENV` is `test`, similar to

[2020-04-25 12:04] tkoster commented on #210
Related to this: I noticed that the route tests also print lines saying an existing dashboard file was found and loaded. This is another source of potential nondeterminism that we should try to remove from the tests.

[2020-04-26 16:57] noopkat commented on #210
👍 💯 to all of this

[2020-04-26 17:44] #207 closed

[2020-04-26 17:49] kleinfreund commented on #45
This was implemented as part of #207 so I’m closing this.

[2020-04-26 17:49] #45 closed

[2020-05-01 22:37] mtheoryx opened #212 "Run Alex programmtically via pre-commit or something?"
Looks like we have Alex hooked up, and that is great! But...

Who is running it, and how is it enforced?

[2020-05-03 18:19] #212 closed

[2020-05-05 23:41] Mrduckie commented on #133
Is this issue still open? I noticed it was created a while ago and that a main element was already in use so I wanted to check.

[2020-05-16 15:47] kleinfreund commented on #133
@Mrduckie Good question. The `main` element is indeed already there and placed correctly, I think. I don’t have anything else in mind specifically that we should improve in terms of HTML landmarks.

So if there’s something you or someone else can think of, we’re all ears. But I would also be fine with closing this issue there isn’t a concrete action we can take right now.

[2020-05-17 17:17] noopkat commented on #133
👍 I'm all for closing this issue and opening any new ones needed based on other a11y improvements we could work on.

[2020-05-17 17:17] #133 closed

[2020-12-20 22:58] tkoster commented on #210
I'll close this since #221 is merged and addresses this.

We can create a separate issue if dashboard files become a problem for tests. (I'm not convinced they currently are.)

[2020-12-20 22:58] #210 closed

[2021-10-18 20:20] renovate[bot] opened #256 "Dependency Dashboard"
This issue lists Renovate updates and detected dependencies. Read the [Dependency Dashboard](https://docs.renovatebot.com/key-concepts/dashboard/) docs to learn more.<br>[View this repository on the Mend.io Web Portal](https://developer.mend.io/github/noopkat/electric-io).

## Config Migration Needed

 - [ ]  Select this checkbox to let Renovate create an automated Config Migration PR.

## Reposit